.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  margin: 30px;
  font-family: 'Arsenal', sans-serif;
  font-weight: bold;
  font-size: 6rem;
  color: #EF0107;
}

p {
  font-size: 2rem;
  color: #EF0107;
  font-family: 'Arsenal', sans-serif;
}

img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

footer {
  position: relative;
  top: 90px;
  font-size: 0.7rem;
  font-weight: bold;
  color: #063672;
  text-align: center;
  font-family: 'Arsenal', sans-serif;

}
